       <!-- Fixed navbar -->
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Resonance</a>
          </div>
         
          <div class="colapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">View <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/switches">View Switches</a></li>
                  <li><a href="/macs#">View MACs</a></li>
                  <li><a href="/networks">View Networks</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">Administrative</li>
                  <li><a href="/users">View Users</a></li>
                  <li><a href="/workgroups">View Workgroups</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Configure <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/switches">Manage Switches</a></li>
                  <li><a href="/admin/macs">Manage MACs</a></li>
                  <li><a href="/admin/networks">Manage Networks</a></li>
                  <li class="divider"></li>
                  <li class="dropdown-header">GSage Internal</li>
                  <li><a href="/admin/users">Manage Users</a></li>
                  <li><a href="/admin/workgroups">Manage Workgroups</a></li>
                </ul>
              </li>
              
              
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>   

      </div>
      <!-- Begin page content -->
      <div class="container">
